<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="encabezado">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Punto de venta con Spring Boot. Control de inventario y ventas">
    <meta name="author" content="Desarrollo Rivera">
    <title>PREMIUM DIGITAL WORLD</title>
    <!-- Cargar el CSS de Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fa.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>
        body {
            background-color:  grey;
        }
    </style>
</head>
<body>
<!-- Contenido de tu página -->

</body>
</html>
